/*

    This file is used to style how posts display on the front page.

*/

* { box-sizing: border-box; }

.grid ::after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: inherit;
    margin-bottom: 15px;
}