/*
    ______________________

    Color Palette

    ______________________
*/

$primary: #70c952;
$grey:    #474a4e;
$dark:    #1a1d1b;
/*
    ______________________

    Imports from bootstrap

    ______________________
*/

// B O O T S T R A P  I M P O R T
@import "../../node_modules/bootstrap/scss/bootstrap";

// P R E L O A D E R  I M P O R T
@import "../styles/preloader.scss";

// N A V I G A T I O N  I M P O R T
@import "../styles/navigation.scss";

// J U M B O T R O N  I M P O R T
@import "../styles/jumbotron.scss";

/* 

    B O D Y

*/
body {
    margin: 0;
    background-color: $grey;
    height: 100%;
    overflow-x: hidden;
    p{
        font-family: 'Open Sans', sans-serif !important;
    }
}

/*

    I N D E X / P A G E . P H P

*/

.moss_article {
    margin: 15px;
}
.post-thumbnail {

    margin: auto 0;
}
//F O O T E R 
.footer {
    margin-top: 30px;
}